#select-reports + button {
	border-radius: 0;
}

#toolbox {
	padding: .375rem .75rem;
	display: flex;
	flex-flow: row;
}

#toolbox > div, #toolbox > input {
	width: 15em;
	padding: .15rem .26rem;
}

#table {
	width: 100%;
	margin-top: 0px !important;
}

#search {
	margin-left: auto;
}

#table_wrapper {
	padding: .375rem .75rem;
}

i.fa-check {
	color: #28a745;
	cursor: pointer;
	font: normal normal normal 17px/1 FontAwesome;
}

i.fa-times {
	cursor: pointer;
	font: normal normal normal 17px/1 FontAwesome;
}

#table input {
	background: none;
	border: none;
	max-width: 330px;
}

#tableSets input {
	background: none;
	border: none;
	max-width: 330px;
}


td:nth-child(10) > input {
    max-width: 380px; !important;
}

#bonus-inactive {
	display: none;
	text-transform: uppercase;
	font-weight: 600;
	text-align: center;
	margin-top: 5rem;
	width: 100%;
	height: 100px;
}

#log-out {
    margin-left: auto;
}

.tableLink {
 
  text-decoration : underline;
  font-style: italic;
}
